.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.App-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.App-body {
  padding: 30px;
}

.custom-heading {
  @apply text-blue-500 font-bold;
}

.date-input::before {
  content: attr(placeholder);
  /* Change placeholder color here */
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
}

.login-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-logout {
  position: fixed; /* Keep popup above other elements */
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;

  transform: translate(-50%, -50%); /* Center the popup */

  z-index: 1; /* Ensure popup is above other content */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); Optional subtle shadow */
}
